{% extends 'base.html' %} 

{% block content %}
<nav class="wrap">
    <div class="brand">Quest 99</div>
    <div class="centered-text">Add Quest Item</div> <!-- Add this line -->
    <a href="{% url 'main:logout' %}">
        <button class="btn btn-outline-danger logout_btn" style="margin-top: 15px; margin-right: 25px;">Logout</button>
    </a>
</nav>

</nav>
<style>
    *{
        font-family: Georgia;
        background-color: #58595c;
    }
    .wrap{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        width: 100%;
        height: 70px;
        box-shadow: 0 7px 15px 0 rgba(252, 251, 252, 0.692);
        background-color: #58595c;
    }
    .brand{
        display: flex;
        flex-direction: row;
        font-size: 2em;
        padding: 5px;
        color: rgb(59, 6, 17);
        background-color: #58595c;
    }
    .centered-text{
        color: bisque;
        text-align: center;
        font-size: 30px;
        background-color: #58595c;
        padding-top: 40px;
        padding-right: 100px;
    }
    .inputarea{
        color:aliceblue;
    }
    h1{
        color: bisque;
        text-align: center;
        font-size: 30px;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex-direction: column;
        padding: 20px;
    }
    input{
        width: 300px;
        height: 20px;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #09022e;
        padding: 5px;
        color:azure;
    }
    textarea{
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #09022e;
        padding: 5px;
        color:azure;
   
    }
    input[type=submit] {
        width: 100px;
        height: 30px;
        background-color: rgb(130, 5, 5);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<form method="POST">
    {% csrf_token %}
<div class = inputarea>
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Item"/>
            </td>
        </tr>
    </table>
</div>
    
</form>

{% endblock %}